@font-face {
	font-family: "Nunito Sans";
	font-style: normal;
	src: url("../webfonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
}

@font-face {
	font-family: "Nunito Sans";
	font-style: italic;
	src: url("../webfonts/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
}

@font-face {
	font-family: "OpenDyslexic";
	font-style: normal;
	src: url("../webfonts/OpenDyslexic-Regular.woff2"), url("../webfonts/OpenDyslexic-Regular.woff");
}

@font-face {
	font-family: "OpenDyslexic";
	font-style: normal;
	font-weight: 700;
	src: url("../webfonts/OpenDyslexic-Bold.woff2"), url("../webfonts/OpenDyslexic-Bold.woff");
}

@font-face {
	font-family: "OpenDyslexic";
	font-style: italic;
	src: url("../webfonts/OpenDyslexic-Italic.woff2"), url("../webfonts/OpenDyslexic-Italic.woff");
}

@font-face {
	font-family: "OpenDyslexic";
	font-style: italic;
	font-weight: 700;
	src: url("../webfonts/OpenDyslexic-Bold-Italic.woff2"), url("../webfonts/OpenDyslexic-Bold-Italic.woff");
}

body[data-bs-theme="dark"] {
	--bs-body-bg: var(--smokey-black);
	--bs-primary: var(--hunter-green);
	--bs-primary-bg-subtle: #485F46;
	--bs-primary-border-subtle: #485F46;
	--bs-secondary-color: var(--silver);
	--smokey-black: #130e08ff;
	--hunter-green: #485f46ff;
	--white-smoke: #f0f2efff;
	--silver: #a69f98ff;
	--rose-taupe: #8c6057ff;
	font-family: "Nunito Sans";	
}

.table {
    --bs-table-active-color: var(--smokey-black);
    --bs-table-active-bg: var(--silver);
    --bs-table-hover-color: var(--smokey-black);
    --bs-table-hover-bg: var(--silver);
}

.required:after {
    content: '   Required';
    font-size: 0.6em;
    color: red; 
}

.blur {
	filter: blur(5px);
	-webkit-filter: blur(5px);
}
