body[data-bs-theme="dark"] {
	--bs-body-bg: var(--smokey-black);
	--bs-primary: var(--hunter-green);
	--bs-primary-bg-subtle: #485F46;
	--bs-primary-border-subtle: #485F46;
	--bs-secondary-color: var(--silver);
	--smokey-black: #130e08ff;
	--hunter-green: #485f46ff;
	--white-smoke: #f0f2efff;
	--silver: #a69f98ff;
	--rose-taupe: #8c6057ff;	
}

.table {
    --bs-table-active-color: var(--smokey-black);
    --bs-table-active-bg: var(--silver);
    --bs-table-hover-color: var(--smokey-black);
    --bs-table-hover-bg: var(--silver);
}

.required:after {
    content: '   Required';
    font-size: 0.6em;
    color: red; 
}

.blur {
	filter: blur(5px);
	-webkit-filter: blur(5px);
}