#chatsection {
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 25%;
    position: fixed;
    right: 0;
    border: 1px solid #dee2e6;
}
.chatheader {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
}
.chatbox {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}
.chatform {
    padding: 10px;
    border-top: 1px solid #dee2e6;
}

.message {
	font-family: "Nunito Sans";
	font-size: 1em;
}

.event {
	font-family: "Nunito Sans";
	font-size: 1em;
	font-weight: bold;
	background-color: coral;
	color: white;	
}
