<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block th:fragment="content">
		<div id="chatsection" class="container">
			<div class="chatheader" th:data-channelname="${channelName}">
				<p th:text="'Channel:' + ${channelName}"></p>
				<button id="viewer-list-button" type="button" class="btn" th:hx-get="@{/channel/{ch}/viewerlist(ch=${channelName})}" hx-target="#viewer-list">
					<i class="fas fa-people-group"></i>
				</button>
				<div id="viewer-list" class="d-none"></div>
			</div>
	        <div class="container chatbox">	
	        </div>
	        <div class="chatform">
				<form class="form-inline">
					<textarea name="chatmessage" id="chatmessageinput" class="form-control flex-grow-1 mr-2" rows="2"></textarea>
					<button type="button" id="sendchatmessagebutton" class="btn btn-primary">Send</button>
				</form>
			</div>
		</div>
	</th:block>
</html>
