<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div class="container" th:fragment="content">
	    <h1 th:text="${channelPageName}"/>
	    <div id="chat-pannel" 
	         th:hx-get="@{/channel/{ch}/chat(ch=${channelPageName})}" 
	         hx-trigger="load">
	    </div>
	    <div id="test-event-buttons">
			<form>
				<input type="hidden" name="channelName" th:value="${channelPageName}">
				<button id="test-follow-button" class="btn btn-primary" th:text="#{button.test.followtest}" th:hx-post="@{/event/sendFollowEvent}" hx-swap="none"></button>
				<button id="test-subscribe-button" class="btn btn-primary" th:text="#{button.test.subscribetest}" th:hx-post="@{/event/sendSubscribeEvent}" hx-swap="none"></button>
				<button id="test-gift-button" class="btn btn-primary" th:text="#{button.test.gifttest}" th:hx-post="@{/event/sendGiftEvent}" hx-swap="none"></button>
			</form>
		</div>
	</div>
</html>
