<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block th:fragment="generate-password-popover(fieldName, fieldLabel, generatedValue, regenerateButtonTitleText, regenerateUrl)">
        <div class="row text-light">
            [[#{${fieldLabel}}]] <b th:id="'generated' + ${fieldName}" th:text="${generatedValue}"></b>
        </div>
        <div class="row">
            <button th:id="'copy' + ${fieldName} + 'toclipboardbutton'" class="btn btn-sm btn-secondary me-2 col-2" th:title="#{button.copytoclipboard}">
                <i class="fas fa-copy"></i>
            </button>
            <button th:id="'regenerate' + ${fieldName} + 'button'" class="btn btn-sm btn-secondary col-2" th:title="#{${regenerateButtonTitleText}}" th:data-url="@{${regenerateUrl}}">
                <i class="fas fa-arrow-rotate-right"></i>
            </button>
        </div>
	</th:block>
</html>
