<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block th:fragment="generate-password-field(fieldName, fieldLabel, generateButtonTitleText, maxLength, minLength, requiredFlag, generateUrl)">
          <div class="mb-3">
              <label th:for="${fieldName}" class="form-label" th:classappend="${requiredFlag}? 'required'" th:text="#{${fieldLabel}}"></label>
              <div class="input-group">
                  <button th:id="'generate' + ${fieldName} + 'button'" class="btn btn-secondary" type="button" th:title="#{${generateButtonTitleText}}" th:data-url="@{${generateUrl}}">
                      <i class="fas fa-gears"></i>
                  </button>
	              <input type="password" class="form-control" th:errorclass="is-invalid" th:id="${fieldName}" th:name="${fieldName}" th:attr="${requiredFlag}? required=required" th:maxlength="${maxLength}" th:pattern="'.{' + ${minLength} + ',' + ${maxLength} + '}'" th:minlength="${minLength}" th:aria-describedby="${fieldName} + '-error'"/>
	              <div th:id="${fieldName} + '-error'" class="invalid-feedback" th:if="${#fields.hasErrors('__${fieldName}__')}">
					  <p th:each="err : ${#fields.errors('__${fieldName}__')}" th:text="${err}"></p>
				  </div>
              </div>              
          </div>
	</th:block>
</html>