<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="htmlhead">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>     
    <title th:text="#{site.title} + ' - ' + ${#ctx.getVariable(T(tv.memoryleakdeath.hex.frontend.controller.BaseFrontendController).PAGE_TITLE)}"></title>
	<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/brands.min.css}">
	<link rel="stylesheet" th:href="@{/css/solid.min.css}">
    <link rel="stylesheet" th:href="@{/css/regular.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/application.css}"/>
    <th:block th:with="cssList = ${#ctx.getVariable(T(tv.memoryleakdeath.hex.frontend.controller.BaseFrontendController).CSS_SCRIPTS)}">
        <link rel="stylesheet" th:each="css : ${cssList}" th:href="@{${css}}"/>
    </th:block>    
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>    
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/application.js}"></script>
    <th:block th:with="scriptList = ${#ctx.getVariable(T(tv.memoryleakdeath.hex.frontend.controller.BaseFrontendController).JS_SCRIPTS)}">
        <script type="text/javascript" th:each="script : ${scriptList}" th:src="@{${script}}"></script>
    </th:block>    
</head>
<body>
</body>
</html>