<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="htmlhead">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title th:text="#{site.title} + ' - ' + ${#ctx.getVariable(T(tv.memoryleakdeath.hex.frontend.controller.BaseFrontendController).PAGE_TITLE)}"></title>
	<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/brands.min.css}">
	<link rel="stylesheet" th:href="@{/css/solid.min.css}">
    <link rel="stylesheet" th:href="@{/css/regular.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/application.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>    
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/application.js}"></script>
</head>
<body>
</body>
</html>