<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="messages" id="topMessagesBox">
       <th:block th:with="errorList = ${#ctx.getVariable('session').get(T(tv.memoryleakdeath.hex.frontend.controller.BaseFrontendController).ERROR_MESSAGES)}">
	       <div th:each="err : ${errorList}" class="alert alert-danger alert-dismissable" role="alert">
	          <span>
	             <i class="fa-solid fa-triangle-exclamation"></i>&nbsp;
	             [(#{${err}})]
	          </span>
	          <button type="button" class="btn-close float-end" data-bs-dismiss="alert" th:aria-label="#{button.close}"></button>
	       </div>
	       [[${errorList.clear()}]]
       </th:block>
       <th:block th:with="warnList = ${#ctx.getVariable('session').get(T(tv.memoryleakdeath.hex.frontend.controller.BaseFrontendController).WARNING_MESSAGES)}">
	       <div th:each="warn : ${warnList}" class="alert alert-warning alert-dismissable" role="alert">
	          <span>
	             <i class="fa-solid fa-circle-exclamation"></i>&nbsp;
	             [(#{${warn}})]
	          </span>
	          <button type="button" class="btn-close float-end" data-bs-dismiss="alert" th:aria-label="#{button.close}"></button>
	       </div>
           [[${warnList.clear()}]]
       </th:block>
       <th:block th:with="successList = ${#ctx.getVariable('session').get(T(tv.memoryleakdeath.hex.frontend.controller.BaseFrontendController).SUCCESS_MESSAGES)}">
	       <div th:each="success : ${successList}" class="alert alert-success alert-dismissable" role="alert">
	          <span>
	             <i class="fa-solid fa-circle-check"></i>&nbsp;
	             [(#{${success}})]
	          </span>
	          <button type="button" class="btn-close float-end" data-bs-dismiss="alert" th:aria-label="#{button.close}"></button>
	       </div>
           [[${successList.clear()}]]
       </th:block>
       <th:block th:with="infoList = ${#ctx.getVariable('session').get(T(tv.memoryleakdeath.hex.frontend.controller.BaseFrontendController).INFO_MESSAGES)}">
	       <div th:each="info : ${infoList}" class="alert alert-success alert-info alert-dismissable" role="alert">
	          <span>
	             <i class="fa-solid fa-circle-info"></i>&nbsp;
	             [(#{${info}})]
	          </span>
	          <button type="button" class="btn-close float-end" data-bs-dismiss="alert" th:aria-label="#{button.close}"></button>
	       </div>
           [[${infoList.clear()}]]
       </th:block>
    </div>
</html>