<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block th:fragment="settings-nav">
        <!-- Sidebar -->
        <div class="col-2 d-flex flex-column bg-dark vh-100 w-200">
            <a th:href="@{/settings/}" class="d-flex align-items-center justify-content-between p-3 link-light text-decoration-none border-bottom active">
                <i class="fas fa-home fs-4 me-3"></i>
                <span th:text="#{settings.nav.text.basicinfo}"></span>
            </a>
            <a th:href="@{/settings/changepassword}" class="d-flex align-items-center justify-content-between p-3 link-light text-decoration-none border-bottom">
                <i class="fas fa-lock fs-4 me-3"></i>
                <span th:text="#{settings.nav.text.password}"></span>
            </a>
            <a th:href="@{/settings/changetfa}" class="d-flex align-items-center justify-content-between p-3 link-light text-decoration-none border-bottom">
                <i class="fas fa-key fs-4 me-3"></i>
                <span th:text="#{settings.nav.text.tfa}"></span>
            </a>
            <a href="#" class="d-flex align-items-center justify-content-between p-3 link-light text-decoration-none border-bottom">
                <i class="fas fa-rocket fs-4 me-3"></i>
                <span th:text="#{settings.nav.text.applications}"></span>
            </a>
        </div>
    </th:block>
</html>