<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="topnav">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <div class="container-lg justify-content-between m-0">
			  <a class="navbar-brand" href="#"><img src="logo_placeholder.png" alt="Logo" /></a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav me-auto">
			      <li class="nav-item active">
			        <a class="nav-link" href="#">Browse</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Feed</a>
			      </li>
			    </ul>
			    <form class="form-inline my-2 my-lg-0 col-8">
			      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			    </form>
			    <ul class="navbar-nav ms-auto">
			      <li class="nav-item">
			        <a class="nav-link" href="#"><i class="far fa-bell"></i></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Username</a>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          <img src="avatar_placeholder.png" alt="Avatar" />
			        </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			          <a class="dropdown-item" href="#">Action</a>
			          <a class="dropdown-item" href="#">Another action</a>
			          <a class="dropdown-item" href="#">Something else here</a>
			        </div>
			      </li>
			    </ul>
			  </div>
		  </div>
		</nav>
	</div>
</html>