<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div th:fragment="content">
	        <h1>Hex Sign up</h1>
	        
	        <form th:action="@{/registration/create}" method="POST">
	          <div>
	              <label for="username">Username:</label>
	              <input type="text" id="username" name="username" autofocus="autofocus" required="required"/>
	          </div>
	          <div>
	              <label for="password">Password:</label>
	              <input type="password" id="password" name="password" required="required"/>
	          </div>
	          <div>
	              <input type="checkbox" id="usetfa" name="useTfa">Use Two Factor Authentication?
	          </div>
	          <button type="submit">Sign Up</button>
	        </form>
        </div>
    </body>
</html>
