<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="content">
        <div class="row text-light">
            [[#{settings.password.text.generatedpassword}]] <b id="generatedpassword" th:text="${generatedPassword}"></b>
        </div>
        <div class="row">
            <button id="copyToClipboardButton" class="btn btn-sm btn-secondary me-2 col-2" th:title="#{button.copytoclipboard}">
                <i class="fas fa-copy"></i>
            </button>
            <button id="regeneratePasswordButton" class="btn btn-sm btn-secondary col-2" th:title="#{settings.button.regeneratepassword}" th:data-url="@{/password/regeneratepassword}">
                <i class="fas fa-arrow-rotate-right"></i>
            </button>
        </div>
    </div>
</html>