<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="content">
        <h2 th:text="#{settings.nav.text.password}"></h2>
        <form id="updatePasswordForm" th:action="@{/settings/updatepassword}" method="POST" th:object="${updatePasswordModel}" th:data-complexity-url="@{/password/validatepasswordcomplexity}" th:data-complexity-message="#{settings.password.newpasswordnotcomplex}">
          <div class="mb-2">
              <label for="currentPassword" class="form-label required" th:text="#{settings.password.text.currentpassword}"></label>
              <input type="password" class="form-control" th:errorclass="is-invalid" id="currentPassword" th:field="*{currentPassword}" autocomplete="current-password" required="required" pattern=".{10,100}" maxlength="100" minlength="10" aria-describedby="currentpassword-error"/>
              <div id="currentpassword-error" class="invalid-feedback" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"></div>
          </div>
          <div class="mb-2">
              <label for="newPassword" class="form-label required" th:text="#{settings.password.text.newpassword}"></label>
              <div class="input-group">
                  <button id="generatePasswordButton" class="btn btn-secondary" type="button" th:title="#{settings.button.generatepassword}" th:data-url="@{/password/generatepassword}">
                      <i class="fas fa-gears"></i>
                  </button>
                  <input type="password" class="form-control" th:errorclass="is-invalid" id="newPassword" th:field="*{newPassword}" autocomplete="new-password" required="required" pattern=".{10,100}" maxlength="100" minlength="10" aria-describedby="newpassword-error"/>
              </div>
              <div id="newpassword-error" class="invalid-feedback">
                  <th:block th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></th:block>
              </div>
          </div>
          <button type="submit" class="mt-4 btn btn-primary" th:text="#{button.save}"></button>
        </form>
    </div>
</html>