<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="content">
        <h2 th:text="#{developer.text.updateclientsecret}"></h2>
        <form id="applicationschangesecretform" th:action="@{/developer/applications/updatesecret}" method="POST" th:object="${clientSecretModel}" th:data-complexity-url="@{/password/validatepasswordcomplexity}" th:data-complexity-message="#{developer.applications.text.error.clientsecretnotcomplexenough}">
		  <input type="hidden" name="id" th:value="${id}">
          <div class="mb-3">
              <label for="currentPassword" class="form-label required" th:text="#{settings.password.text.currentpassword}"></label>
              <input type="password" class="form-control" th:errorclass="is-invalid" id="currentPassword" name="currentPassword" th:placeholder="#{developer.applications.placeholder.currentuserpassword}" autocomplete="current-password" required="required" pattern=".{10,100}" maxlength="100" minlength="10" aria-describedby="currentpassword-error"/>
              <div id="currentpassword-error" class="invalid-feedback" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"></div>
          </div>
          <div th:replace="~{fragment/generate-password :: generate-password-field('clientSecret', 'developer.applications.header.clientsecret', 'button.developer.applications.generateclientsecret', 150, 20, true, '/developer/applications/generatesecret')}"></div>
		  <div>
			  <button class="btn btn-primary" id="updateclientsecretbutton" type="submit" th:text="#{button.developer.applications.updateclientsecret}"></button>
		  </div> 
        </form>
    </div>
</html>